*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   
}


body{
    font-family: 'Fredoka', sans-serif;
    max-width: 1000px;
    width: 70%;
    margin: auto;
    
}

h1{
    color: #e53170;
    margin-bottom: 30px;
    text-align: center;
}

h2, li{
    color: white;
}

.box{
max-width: 100%;

width: 33%;

    
    
    margin-top: 30px;
    background-color: #0f0e17;

}

.float-left{
    float: left;
}

.clearfix{
    content: "";
    clear: both;
    display: inline-block;
}
img{
    width: 80px;
    background-size: 100px ;
    
}

ul{
    
    list-style-type: none;
}
