*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}


body{
    font-family: 'Fredoka', sans-serif;
    max-width: 1000px;
    width: 70%;
    margin: 100px auto;

}

 /* Contenuto  */

h1{
    color: #e53170;
    margin-bottom: 30px;
    text-align: center;
}

h2, li{
    color: white;
}

p{
    text-align: center;
}

img{
    width: 75px;
    background-size: 80px ;

}


ul{
padding-bottom: 6px;
padding-left: 100px;
background-color: #0f0e17;
box-shadow: 10px 5px 5px black;
list-style-type: none;
}

/* /Contenuto */

  /* box e float */
.float-left{
    float: left;
}


.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.box{;
padding:10px;
max-width: 100%;
width: 33%;
margin-top: 30px;





}

/* /Float e box */







